<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 페이지의 문자 인코딩을 UTF-8로 설정 -->
    <meta charset="UTF-8">
    <!-- 페이지가 다양한 장치에서 적절히 표시되도록 viewport 설정 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 페이지 제목을 "Document"로 설정 -->
    <title>Document</title>
</head>
<body>
    <!-- 외부 EJS 파일인 'Top.ejs'를 포함 -->
    <%-include('../inc/Top.ejs') %>
    <hr />
    <!-- 콘텐츠를 담을 컨테이너 div -->
    <div class="container">
        <!-- 페이지의 주요 제목을 "Gallery"로 설정 -->
        <h2>Gallery</h2>
    </div>
</body>
</html>