.App {
  text-align: center;  /* 모든 텍스트를 중앙에 정렬 */
}

.App-logo {
  height: 40vmin;  /* 로고의 높이를 뷰포트의 40%로 설정 */
  pointer-events: none;  /* 사용자가 로고와 상호작용하지 못하게 함 */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;  /* 애니메이션 효과로 로고를 회전시킴 */
  }
}

.App-header {
  background-color: #282c34;  /* 헤더의 배경색을 짙은 회색으로 설정 */
  min-height: 150px;  /* 헤더의 최소 높이를 150px로 설정 */
  color: white;  /* 헤더의 텍스트 색상을 흰색으로 설정 */
}

.input-title {
  background-color: #fd8803;  /* 입력 섹션의 배경색을 주황색으로 설정 */
  min-height: 50px;  /* 입력 섹션의 최소 높이를 50px로 설정 */
  color: white;  /* 입력 섹션의 텍스트 색상을 흰색으로 설정 */
}

.list-body {
  background-color: #ffff00;  /* 리스트 섹션의 배경색을 노란색으로 설정 */
  min-height: calc(100vh - 200px);  /* 리스트 섹션의 최소 높이를 계산하여 설정 */
  color: navy;  /* 리스트 섹션의 텍스트 색상을 남색으로 설정 */
}

.list-body > div {
  min-height: calc(100vh - 200px);  /* 리스트 섹션 내부 요소들의 최소 높이를 계산하여 설정 */
}

.todoList > div {
  display: flex;  /* 플렉스 박스를 사용하여 내부 요소를 정렬 */
  flex-direction: column;  /* 요소들을 세로로 정렬 */
  align-items: center;  /* 요소들을 중앙으로 정렬 */
  justify-content: center;  /* 요소들을 세로 중앙에 정렬 */
  font-size: calc(10px + 2vmin);  /* 폰트 크기를 계산하여 반응형으로 설정 */
}

.table div {
  margin: 0;  /* 테이블 내부의 마진을 제거 */
}

.App-link {
  color: #61dafb;  /* 링크 텍스트의 색상을 밝은 파란색으로 설정 */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);  /* 로고 회전 시작 지점 */
  }
  to {
    transform: rotate(360deg);  /* 로고 회전 종료 지점 */
  }
}

