body {
  margin: 0;  /* 페이지의 기본 여백을 제거하여 모든 요소가 화면의 가장자리에 맞도록 함 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;  /* 시스템 폰트 스택을 설정하여 다양한 환경에서 일관된 텍스트 스타일을 제공 */
  -webkit-font-smoothing: antialiased;  /* 텍스트를 부드럽게 표시하여 가독성을 향상 */
  -moz-osx-font-smoothing: grayscale;  /* 텍스트를 그레이스케일로 표시하여 가독성을 향상 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;  /* 코드 블록의 폰트 스타일을 설정하여 일관된 코드 스타일을 유지 */
}

